<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${(#locale.language == null && #httpServletRequest.getParameter('lang') == null) || (#locale.language != null && #locale.language.equals('en')) || (#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('en')) ? 'en' : 'uk'}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Librarian cabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <span class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none h3"
          th:text="#{header.library.name}"></span>
    <div class="d-flex flex-row mr-3">
        <div class="mr-2">
            <select class="custom-select" onchange="location.href = this.options[this.selectedIndex].value">
                <th:block
                        th:if="${(#locale.language == null && #httpServletRequest.getParameter('lang') == null) || (#locale.language != null && #locale.language.equals('en')) || (#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('en'))}">
                    <option th:value="${#httpServletRequest.requestURI}+'?tab='+${tab}+'&page='+${currPage}+'&lang=en'"
                            selected
                            th:text="#{header.language.english}"></option>
                    <option th:value="${#httpServletRequest.requestURI}+'?tab='+${tab}+'&page='+${currPage}+'&lang=uk'"
                            th:text="#{header.language.ukrainian}"></option>
                </th:block>
                <th:block
                        th:if="${(#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('uk')) || #locale.language.equals('uk')}">
                    <option th:value="${#httpServletRequest.requestURI}+'?tab='+${tab}+'&page='+${currPage}+'&lang=en'"
                            th:text="#{header.language.english}"></option>
                    <option th:value="${#httpServletRequest.requestURI}+'?tab='+${tab}+'&page='+${currPage}+'&lang=uk'"
                            selected
                            th:text="#{header.language.ukrainian}"></option>
                </th:block>
            </select>
        </div>
        <div>
            <a class="btn btn-dark" href="/logout" th:text="#{header.logout}"></a>
        </div>
    </div>
</header>
<nav class="nav nav-tabs nav-justified">
    <th:block th:if="${tab == 1}">
        <a class="nav-item nav-link active" data-toggle="tab" href="#orders" th:text="#{tabs.orders}"></a>
        <a class="nav-item nav-link" data-toggle="tab" href="#subscriptions" th:text="#{tabs.subscriptions}"></a>
    </th:block>
    <th:block th:if="${tab == 2}">
        <a class="nav-item nav-link" data-toggle="tab" href="#orders" th:text="#{tabs.orders}"></a>
        <a class="nav-item nav-link active" data-toggle="tab" href="#subscriptions" th:text="#{tabs.subscriptions}"></a>
    </th:block>
</nav>
<br/>
<div class="tab-content text-center">
    <h3 th:text="#{librarian.title}+' '+${#authentication.getName()}"></h3>
    <div class="tab-pane fade text-center" th:classappend="${tab == 1 ? 'show active' : ''}" id="orders">
        <div class="row justify-content-center">
            <div class="col-auto" th:if="${orders != null && orders.size() > 0}">
                <h5 class="mb-2 mt-2" th:text="#{librarian.orders}"></h5>
                <table class="table table-responsive table-bordered table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>№</th>
                        <th th:text="#{table.userLogin}"></th>
                        <th th:text="#{table.title}"></th>
                        <th th:text="#{table.authors}"></th>
                        <th th:text="#{table.action}"></th>
                    </tr>
                    </thead>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.user.login}"></td>
                        <td th:text="${order.bookTranslate.title}"></td>
                        <td th:text="${order.bookTranslate.authorsString}"></td>
                        <td>
                            <a class="btn btn-outline-info" th:href="@{'/librarian/approveOrder?id='+${order.id}}"
                               th:text="#{librarian.delete}"></a>
                            <a class="btn btn-outline-danger" th:href="@{'/librarian/cancelOrder?id='+${order.id}}"
                               th:text="#{librarian.cancel}"></a>
                        </td>
                    </tr>
                </table>
                <div class="btn-group" role="group" aria-label="Basic example" th:if="${amountOfOrders > 1}">
                    <th:block th:each="page : ${#numbers.sequence(1, amountOfOrders)}">
                        <a class="btn btn-primary btn-rounded" th:text="${page}"
                           th:href="@{'/librarian/home?tab=1&page='+${page}}"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade text-center" th:classappend="${tab == 2 ? 'show active' : ''}" id="subscriptions">
        <div class="row justify-content-center">
            <div class="col-auto" th:if="${readers != null && readers.size() > 0}">
                <h5 th:text="#{librarian.usersSubscriptions}"></h5>
                <table class="table table-responsive table-bordered table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>№</th>
                        <th th:text="#{table.login}"></th>
                        <th th:text="#{table.subscription}"></th>
                    </tr>
                    </thead>
                    <tr th:each="reader : ${readers}">
                        <td th:text="${reader.id}"></td>
                        <td th:text="${reader.login}"></td>
                        <td>
                            <a th:href="@{'/librarian/getReaderBooks?userId='+${reader.id}+'&page=1'}"
                               th:text="#{librarian.checkSubscription}"></a>
                        </td>
                    </tr>
                </table>
                <div th:if="${amountOfUsers > 1}" class="btn-group" role="group" aria-label="Basic example">
                    <th:block th:each="page : ${#numbers.sequence(1, amountOfUsers)}">
                        <a class="btn btn-primary btn-rounded" th:text="${page}"
                           th:href="@{'/librarian/home?tab=2&page='+${page}}"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
