<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:lang="${(#locale.language == null && #httpServletRequest.getParameter('lang') == null) || (#locale.language != null && #locale.language.equals('en')) || (#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('en')) ? 'en' : 'uk'}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reader subscription page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <span class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none h3"
          th:text="#{header.library.name}"></span>
    <div class="d-flex flex-row mr-3">
        <div class="mr-2">
            <select class="custom-select" onchange="location.href = this.options[this.selectedIndex].value">
                <th:block
                        th:if="${(#locale.language == null && #httpServletRequest.getParameter('lang') == null) || (#locale.language != null && #locale.language.equals('en')) || (#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('en'))}">
                    <option th:value="${#httpServletRequest.requestURI}+'?userId='+${readerId}+'&page='+${currPage}+'&lang=en'"
                            selected
                            th:text="#{header.language.english}"></option>
                    <option th:value="${#httpServletRequest.requestURI}+'?userId='+${readerId}+'&page='+${currPage}+'&lang=uk'"
                            th:text="#{header.language.ukrainian}"></option>
                </th:block>
                <th:block
                        th:if="${(#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('uk')) || #locale.language.equals('uk')}">
                    <option th:value="${#httpServletRequest.requestURI}+'?userId='+${readerId}+'&page='+${currPage}+'&lang=en'"
                            th:text="#{header.language.english}"></option>
                    <option th:value="${#httpServletRequest.requestURI}+'?userId='+${readerId}+'&page='+${currPage}+'&lang=uk'"
                            selected
                            th:text="#{header.language.ukrainian}"></option>
                </th:block>
            </select>
        </div>
        <th:block sec:authorize="isAnonymous()">
            <a class="btn btn-outline-dark mr-2" data-mdb-ripple-color="dark" href="/signup"
               th:text="#{header.signup}"></a>
            <a class="btn btn-dark" href="/login" th:text="#{header.login}"></a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a class="btn btn-dark" href="/logout" th:text="#{header.logout}"></a>
        </th:block>
    </div>
</header>
<div class="container text-center">
    <h3 class="mb-2" th:text="#{librarian.reader.book.title}+' '+${#authentication.getName()}"></h3>
    <div class="row justify-content-center">
        <div class="col-auto" th:if="${orders != null && orders.size() > 0}">
            <table class="table table-responsive table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>№</th>
                    <th th:text="#{table.userLogin}"></th>
                    <th th:text="#{table.title}"></th>
                    <th th:text="#{table.authors}"></th>
                    <th th:text="#{table.editionName}"></th>
                    <th th:text="#{table.dateOfPublication}"></th>
                    <th th:text="#{table.language}"></th>
                </tr>
                </thead>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.user.login}"></td>
                    <td th:text="${order.bookTranslate.title}"></td>
                    <td th:text="${order.bookTranslate.authorsString}"></td>
                    <td th:text="${order.bookTranslate.editionName}"></td>
                    <td th:text="${order.book.publicationDate}"></td>
                    <td th:text="${order.bookTranslate.languageOfBook}"></td>
                </tr>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example" th:if="${amount > 1}">
                <th:block th:each="page : ${#numbers.sequence(1, amount)}">
                    <a class="btn btn-primary btn-rounded" th:text="${page}"
                       th:href="@{'/librarian/getReaderBooks?userId='+${readerId}+'&page='+${page}}"></a>
                </th:block>
            </div>
        </div>
    </div>
    <div>
        <a href="/librarian/home?tab=2&page=1" th:text="#{signup.to.home}"></a>
    </div>
</div>
<div th:replace="fragment/footer.html :: footer"></div>
</body>
</html>