<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Admin cabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container text-center">
    <nav class="nav nav-tabs nav-justified">
        <a class="nav-item nav-link active"
           data-toggle="tab" href="#users">Користувачі</a>
        <!--        <a class="nav-item nav-link active" data-toggle="tab" href="#books">Книги</a>-->
    </nav>
    <br/>
    <h3 th:text="'Кабінет користувача: '+${#authentication.getName()}"></h3>
    <div class="tab-content text-center">
        <div class="tab-pane fade show active text-center"
             id="users">
            <div>
                <span class="h5">Користувачі: </span>
                <a class="btn btn-outline-primary btn-sm mb-2 mt-2" href="/admin/addLibrarian">Add Librarian</a>
            </div>
            <div class="row justify-content-center">
                <div th:if="${users != null || users.size() > 0}" class="col-auto">
                    <table class="table table-responsive table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>№</th>
                            <th>Login</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getLogin()}"></td>
                            <td th:text="${user.getRole().name()}"></td>
                            <td>
                                <a th:if="${user.isBlocked() == true}" type="button" class="btn btn-outline-success"
                                   th:href="@{'/admin/unblockUser?id='+${user.id}}">Розблокувати</a>
                                <a th:if="${user.isBlocked() == false}" type="button" class="btn btn-outline-danger"
                                   th:href="@{'/admin/blockUser?id='+${user.id}}">Заблокувати</a>
                                <a th:if="${user.getRole().name().equals('LIBRAIRAN')}" type="button" class="btn btn-outline-danger"
                                   th:href="@{'/admin/deleteLibrarian?id='+${user.id}}">Видалити</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div th:if="${users == null || users.size() <= 0}" class="col-auto">
                    <span>Пусто</span>
                </div>
            </div>
            <div th:if="${amountOfPages > 1}" class="btn-group" role="group" aria-label="Basic example">
                <th:block th:each="pageNo : ${#numbers.sequence(1, amountOfPages)}">
                    <a class="btn btn-primary btn-rounded" th:text="${pageNo}" th:href="@{'/admin/home?pageNo='+${pageNo}}"></a>
                </th:block>
            </div>
        </div>
        <!--    <div class="tab-pane fade <c:if test="${param.tab.equals('2')}">show active</c:if> text-center" id="books">-->
        <!--    <div>-->
        <!--        <span class="h5">Книги: </span><a class="btn btn-outline-primary btn-sm mt-2 mb-2" href="${pageContext.request.contextPath}/app/admin/addBook">Add-->
        <!--        book</a>-->
        <!--    </div>-->
        <!--    <div class="row justify-content-center">-->
        <!--        <div class="col-auto">-->
        <!--            <c:if test="${requestScope.bookList != null}">-->
        <!--                <table class="table table-responsive table-bordered table-hover">-->
        <!--                    <thead class="thead-light">-->
        <!--                    <tr>-->
        <!--                        <th>№</th>-->
        <!--                        <th>Title</th>-->
        <!--                        <th>Authors</th>-->
        <!--                        <th>Language</th>-->
        <!--                        <th>Edition</th>-->
        <!--                        <th>Date of publish</th>-->
        <!--                        <th>Description</th>-->
        <!--                        <th>Price</th>-->
        <!--                        <th>Amount</th>-->
        <!--                        <th>Action</th>-->
        <!--                    </tr>-->
        <!--                    </thead>-->
        <!--                    <c:if test="${requestScope.bookList.size() > 0}">-->
        <!--                        <c:forEach items="${requestScope.bookList}" var="book">-->
        <!--                            <tr>-->
        <!--                                <td>${book.id}</td>-->
        <!--                                <td><c:out value="${book.title}"/></td>-->
        <!--                                <td>-->
        <!--                                    <%-->
        <!--                                    Book book = (Book) pageContext.getAttribute("book");-->
        <!--                                    StringBuilder authorsString = new StringBuilder();-->
        <!--                                    for (Author author : book.getAuthors()) {-->
        <!--                                    authorsString.append(author.getName()).append(",").append(" ");-->
        <!--                                    }-->
        <!--                                    authorsString.deleteCharAt(authorsString.length() - 1);-->
        <!--                                    authorsString.deleteCharAt(authorsString.length() - 1);-->
        <!--                                    out.print(authorsString.toString());-->
        <!--                                    %>-->
        <!--                                </td>-->
        <!--                                <td>${book.language}</td>-->
        <!--                                <td>${book.edition.name}</td>-->
        <!--                                <td>${book.publicationDate}</td>-->
        <!--                                <td>${book.description}</td>-->
        <!--                                <td>-->
        <!--                                    <c:if test="${language == 'en'}"><span>${book.price}$</span></c:if>-->
        <!--                                    <c:if test="${language == 'uk'}"><span>${book.price}₴</span></c:if>-->
        <!--                                </td>-->
        <!--                                <td>${book.count}</td>-->
        <!--                                <td class="justify-content-sm-between" style="width: 200px;">-->
        <!--                                    <a type="button" class="btn btn-outline-warning" href="${pageContext.request.contextPath}/app/admin/editBook?id=${book.id}">Edit</a>-->
        <!--                                    <a type="button" class="btn btn-outline-danger" href="${pageContext.request.contextPath}/app/admin/deleteBook?id=${book.id}">Delete</a>-->
        <!--                                </td>-->
        <!--                            </tr>-->
        <!--                        </c:forEach>-->
        <!--                    </c:if>-->
        <!--                </table>-->
        <!--            </c:if>-->
        <!--        </div>-->
        <!--        &lt;!&ndash;    </div>&ndash;&gt;-->
        <!--    </div>-->
    </div>
</div>
</body>
</html>