<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <span class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none h3"
          th:text="#{header.library.name}"></span>
    <div class="d-flex flex-row mr-3">
        <div class="mr-2">
            <select class="custom-select" onchange="location.href = this.options[this.selectedIndex].value">
                <th:block
                        th:if="${(#locale.language == null && #httpServletRequest.getParameter('lang') == null) || (#locale.language != null && #locale.language.equals('en')) || (#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('en'))}">
                    <option th:value="${#httpServletRequest.requestURI}+'?keyWords='+${keyWords}+'&page='+${page}+'&sortBy='+${sortBy}+'&sortType='+${sortType}+'&lang=en'"
                            selected
                            th:text="#{header.language.english}"></option>
                    <option th:value="${#httpServletRequest.requestURI}+'?keyWords='+${keyWords}+'&page='+${page}+'&sortBy='+${sortBy}+'&sortType='+${sortType}+'&lang=uk'"
                            th:text="#{header.language.ukrainian}"></option>
                </th:block>
                <th:block
                        th:if="${(#httpServletRequest.getParameter('lang') != null && #httpServletRequest.getParameter('lang').equals('uk')) || #locale.language.equals('uk')}">
                    <option th:value="${#httpServletRequest.requestURI}+'?keyWords='+${keyWords}+'&page='+${page}+'&sortBy='+${sortBy}+'&sortType='+${sortType}+'&lang=en'"
                            th:text="#{header.language.english}"></option>
                    <option th:value="${#httpServletRequest.requestURI}+'?keyWords='+${keyWords}+'&page='+${page}+'&sortBy='+${sortBy}+'&sortType='+${sortType}+'&lang=uk'"
                            selected
                            th:text="#{header.language.ukrainian}"></option>
                </th:block>
            </select>
        </div>
        <th:block sec:authorize="isAnonymous()">
            <a class="btn btn-outline-dark mr-2" data-mdb-ripple-color="dark" href="/signup"
               th:text="#{header.signup}"></a>
            <a class="btn btn-dark" href="/login" th:text="#{header.login}"></a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a class="btn btn-dark" href="/logout" th:text="#{header.logout}"></a>
        </th:block>
    </div>
</header>
<div class="container text-center">
    <div>
        <form method="post" action="/search?page=1">
            <label>
                <input class="form-control me-2 mr-2" type="text" name="keyWords" th:placeholder="#{index.search}">
            </label>
            <input class="btn btn-outline-success p-1" type="submit" th:value="#{index.find}">
        </form>
    </div>
    <a sec:authorize="isAnonymous()" class="text-info mt-2 mb-2" href="/login" th:text="#{search.loginMessage}"></a>
    <div class="row justify-content-center">
        <div th:if="${books != null || books.size() > 0}" class="col-auto">
            <table class="table table-responsive table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{table.title}"></th>
                    <th th:text="#{table.authors}"></th>
                    <th th:text="#{table.language}"></th>
                    <th th:text="#{table.editionName}"></th>
                    <th th:text="#{table.dateOfPublication}"></th>
                    <th th:text="#{table.description}"></th>
                    <th th:text="#{table.action}"></th>
                </tr>
                </thead>
                <div class="mr-3 mt-2 mb-2">
                    <span th:text="#{search.sortBy}+': '"></span>
                    <a type="button" class="btn btn-outline-primary btn-sm"
                       th:href="@{'/search?keyWords='+${keyWords}+'&page='+${page}+'&sortBy=title&sortType='+${(sortBy.equals('title') && sortType.equals('asc')) ? 'dec' : 'asc'}}"
                       th:text="#{search.sortByTitle}"></a>
                    <a type="button" class="btn btn-outline-primary btn-sm"
                       th:href="@{'/search?keyWords='+${keyWords}+'&page='+${page}+'&sortBy=authorsString&sortType='+${(sortBy.equals('authorsString') && sortType.equals('asc')) ? 'dec' : 'asc'}}"
                       th:text="#{search.sortByAuthors}"></a>
                    <a type="button" class="btn btn-outline-primary btn-sm"
                       th:href="@{'/search?keyWords='+${keyWords}+'&page='+${page}+'&sortBy=editionName&sortType='+${(sortBy.equals('editionName') && sortType.equals('asc')) ? 'dec' : 'asc'}}"
                       th:text="#{search.sortByEdition}"></a>
                    <a type="button" class="btn btn-outline-primary btn-sm"
                       th:href="@{'/search?keyWords='+${keyWords}+'&page='+${page}+'&sortBy=publicationDate&sortType='+${(sortBy.equals('publicationDate') && sortType.equals('asc')) ? 'dec' : 'asc'}}"
                       th:text="#{search.sortByDate}"></a>
                </div>
                <tr th:each="bookWithTranslate : ${books}">
                    <td th:text="${bookWithTranslate.bookTranslate.title}"></td>
                    <td th:text="${bookWithTranslate.bookTranslate.authorsString}"></td>
                    <td th:text="${bookWithTranslate.bookTranslate.languageOfBook}"></td>
                    <td th:text="${bookWithTranslate.bookTranslate.editionName}"></td>
                    <td th:text="${bookWithTranslate.book.publicationDate}"></td>
                    <td th:text="${bookWithTranslate.bookTranslate.description}"></td>
                    <td class="justify-content-sm-between" style="width: 200px;">
                        <th:block th:if="${bookWithTranslate.book.amount > 0}">
                            <a sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-info"
                               th:href="@{'/reader/orderBook?id='+${bookWithTranslate.book.id}}"
                               th:text="#{reader.orderButtonTitle}"></a>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()" th:if="${bookWithTranslate.book.amount == 0}">
                            <span class="text-danger" th:text="#{search.lackOfAmount}"></span>
                        </th:block>
                        <span sec:authorize="isAnonymous()">-</span>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${books == null || books.size() <= 0}" class="col-auto">
            <span th:text="#{emptyTitle}"></span>
        </div>
    </div>
    <div th:if="${amountOfBookPages > 1}" class="btn-group" role="group" aria-label="Basic example">
        <th:block th:each="page : ${#numbers.sequence(1, amountOfBookPages)}">
            <a class="btn btn-primary btn-rounded" th:text="${page}"
               th:href="@{'/search?keyWords='+${keyWords}+'&page='+${page}+'&sortBy='+${sortBy}+'&sortType='+${sortType}}"></a>
        </th:block>
    </div>
    <br/>
    <div sec:authorize="isAuthenticated()">
        <a href="/reader/home?tab=1&page=1" th:text="#{user.to.homeCabinet}"></a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="/" th:text="#{signup.to.home}"></a>
    </div>
</div>
</body>
</html>
